nav{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;

    @media (max-width: 600px) {
        position: fixed;
     }

    



    span{
        font-weight: 400;
        font-size: 1em;
    }
}

.heart{

    @mixin heart{
        height: 30px;
        background-image: url(../../assets/heart.svg);
        background-repeat: space
    }

    &-3{
        @include heart;
        width: 90px;
    }
    &-2{
        @include heart;
        width: 60px;
    }
    &-1{
        @include heart;
        width: 30px;
    }


}