<div class="card-box" *ngIf="pokebox !== ''">
   
    <div  class="card-drop" *ngFor="let pokemon of pokebox"  
    (dragover)="dropCheck($event)" 
    (dragleave)="dragLeave($event)" 
    (drop)="checkPokeDrop($event)" 
    id="{{ pokemon.id }}" 
    [ngClass]="{
        'certo': pokemon.result == true,
        'errado': pokemon.result == false}"
    >
        <p>{{ pokemon.name | titlecase }}</p>
        <h3>#{{ pokemon.id }}</h3>
        <div class="card-drop__sprite">
            <img src="{{ pokemon.sprite }}" draggable="false">
        </div>
    </div >
</div>