.card-box{
    width: 100vw;
    height: 40%;
    background: #555261;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 16px;
    overflow-x: auto;
    overflow-y: hidden;

    @media (max-width: 600px) {
        // align-items: flex-start;
        padding: 8px;
        position: absolute;
     }
    // transition: all 0.6s;

    // &::-webkit-scrollbar {
    //    position: absolute;
    //    bottom: 0;
    //    background-color: rgb(73, 77, 134);
    //   }

    //   &::-webkit-scrollbar-thumb {
    //     background-color: rgb(116, 120, 182);
    //   }

    .card-drop{
        min-width: 200px;
        height: 200px;
        background-color: white;
        box-shadow: -6px 21px 21px rgba(0, 0, 0, 0.13);
        border-radius: 10px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        user-select: none;
        margin: 10px;
        transition: all 0.4s;

        @media (max-width: 600px) {
           margin: 5px;
           position: relative;


            &::after{
                content: '';
                width: 100%!important;
                height: 100%!important;
                position: absolute!important;
                right: 0px!important;
                top: 0!important;
            }
        }
    

        &__sprite{
            height: 70%;
        }

        &:last-child{
            position: relative;
                &::after{
                    content: '';
                    width: 200px;
                    height: 200px;
                    // background-color: #e470704d;
                    position: absolute;
                    right: -200px;
                }
        }

        &:nth-child(1){
            position: relative;
                &::before{
                    content: '';
                    width: 250px;
                    height: 200px;
                    // background-color: #e470704d;
                    position: absolute;
                    left: -250px;
                }
        }







    }
}

.left-place:is(.card-drop){
    margin-left: 200px!important;

    &::after{
        content: '';
        width: 200px;
        height: 200px;
        border-radius: 15px;
        // background-color: #70cde44d;
        position: absolute;
        left: -200px;
    }

    &::before{
        content: '';
        width: 200px;
        height: 100%;
        position: absolute;
        // background-color: aqua;
        left: -200px;
    }
}


.right-place:is(.card-drop){
    margin-right: 200px!important;

    &::after{
        content: '';
        width: 200px;
        height: 200px;
        border-radius: 15px;
        // background-color: #70cde44d;
        position: absolute;
        right: -200px;
    }

    &::before{
        content: '';
        width: 200px;
        height: 100%;
        position: absolute;
        // background-color: aqua;
        right: -200px;
    }
}

.certo{
    border: 5px solid rgb(39, 143, 103);
}


.errado{
    border: 5px solid #be2222;
}




.btns-touch{
    display: none;
    width: 175%;
    justify-content: space-between;
    position: absolute;

    .btn-touch{
        width: 60px;
        height: 200px;
        border-radius: 3px;
        animation: scaleIn .4s ease-in both;
        border: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: transparent;

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

        }

        span{
            color: white;
            font-size: 1.2em;
            margin-top: 4px;
        }


    }
}

.btn--actived{
    margin: 5px 80px!important;
    transition: margin .3s;

    .btns-touch{

        @media (max-width: 600px) {
            display: flex;
        }
        
    }
}

@keyframes scaleIn {
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}