<div class="main">

  
    
  
  <div class="start-screen" *ngIf="randomPokemon == undefined && finished == false">
    <img src="../assets/poketrivia-logo.svg" alt="">

    <dialog *ngIf="help">
      <h4>Drag the pokemon cards to place them in the correct pokedex order.</h4>
      <h4>Tap on the pokemon card and select which side is the correct one in the pokédex order.</h4>
    </dialog>
    <button class="btn-info" (click)="help = !help">
      <p *ngIf="!help">?</p>
      <p *ngIf="help">x</p>
    </button>

    <h3>Select range:</h3>
    Pokémon Up to
    <select #range name="select" (change)="pokemonGeneration = range.value; updateLimit()">
        <option selected value="151">1st generation</option>
        <option value="251" >2nd generation</option>
        <option value="386">3rd generation</option>
        <option value="493">4th generation</option>
        <option value="649" >5th generation</option>
        <option value="721">6th generation</option>
        <option value="809">7th generation</option>
        <option value="905" >8th generation</option>
        <option value="1008">9th generation</option>
    </select>

    <button (click)="start(); started = true">
      <span *ngIf="!started">Start</span>
      <span *ngIf="started">Loading...</span>
    </button>

    <div class="social-info">
      <p>Check the project on <a href="https://github.com/byToliu/poketrivia">GitHub</a> :)</p>
      <span>v.1.1</span>
    </div>
    
</div>
  
  <div class="main-top" *ngIf="randomPokemon !== undefined || finished" >
    <app-hud *ngIf="life > 0 && randomPokemon !== undefined" [life]="life" [points]="points"></app-hud>

    <div class="result-screen" *ngIf="life == 0 || finished">
      <img src="../assets/poketrivia-logo.svg" alt="">
      <div class="result-screen__score">
        <h4 *ngIf="finished">😱 OMG! You did it! 🥳🥳🥳</h4>
        <h4>🥇 Score: <span>{{ points }}</span></h4> 
        <h4>🏆 Highscore: <span>{{ highscore }}</span></h4> 
      </div>

      <button (click)=" refresh()">Restart</button>
      <button 
      [style.backgroundColor]="buttonAction ? '#748c95' : 'transparent'"
      [style.color]="buttonAction ? 'white' : '#748c95'"
      [style.border]="buttonAction ? 'none' : '2px solid #748c95'"
      (click)="shareResults(); buttonAction = true ">
        <span *ngIf="!buttonAction">Share</span>
        <span *ngIf="buttonAction">Copied!</span>
      </button>

      <p>Check the project on <a href="https://github.com/byToliu/poketrivia">GitHub</a> :)</p>

    </div>


    <app-poke-card *ngIf="randomPokemon !== undefined && life > 0" [nome]="randomPokemon.name"
      [sprite]="randomPokemon.dex?.sprites.front_default" [tipo1]="randomPokemon.dex?.types[0].type.name"
      [tipo2]="randomPokemon.dex?.types[1] !== undefined ? randomPokemon.dex?.types[1].type.name : '' ">
    </app-poke-card>

  </div>

  <app-card-box [life]="life" *ngIf="randomPokemon !== undefined  && pokebox !== undefined || finished"  ></app-card-box>

  <footer *ngIf="randomPokemon == undefined">
    <p>All data sourced from <a href="https://pokeapi.co/">PokéAPI.</a> Pokémon and Pokémon character names are trademarks of Nintendo®/Game Freak Inc.®.</p>
    <p></p>
  </footer>

</div>



