<main class="c-play">

    <div class="c-random">

        <nav class="c-hud">
            <div class="hud__life">
                Lives: 

                @for(life of lives; track life){
                    <span>♦</span>
                }

            </div>
            <div class="hud__sequence">Sequence: {{ sequence }}</div>
        </nav>

        <app-card-random [name]="actualRandom.name" [num]="actualRandom.num" [types]="actualRandom.types"></app-card-random>
        
    </div>

    <div class="c-dex">
        <span class="dex__count"><b>Gen I to II</b> - {{ dex.length }} de 151</span>
       <div class="c-cards">
        @for(poke of dex; track poke){
            <app-card-dex [name]="poke.name" [num]="poke.num"></app-card-dex>
        }
       </div>
    </div>

</main>