.c-play{
    width: 100%;
    height: 100vh;
    background-color: var(--neutral);

    .c-random, .c-dex{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .c-random{
        height: 55%;
        justify-content: center;
    }
    
    .c-dex{
        height: 45%;
        background-color: var(--secondary);
        justify-content: flex-start;
        position: relative;
        align-items: flex-end;
    }

    .c-cards{
        height: 85%;
        min-width: 100%;
        overflow-x: auto;
        display: flex;
        gap: 20px;
        padding: 0 16px;
    }

    .dex{
        &__count{
            position: absolute;
            color: white;
            width: 100%;
            top: 0;
            text-align: center;
            padding: 8px;
            align-items: center;
            justify-content: center;
            display: flex;
            gap: 12px;
            font-size: .8rem;

            &::after, &::before{
                content: '';
                width: 50px;
                height: 0px;
                border: 1px solid rgba(255, 255, 255, 0.13);
            }
        }
    }

    .c-hud{
        position: absolute;
        top: 0;
        left: 0;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media (max-width: 600px) {
            flex-direction: row;
        }


        .hud{

            @mixin hud{
                background-color: var(--secondary);
                padding: 8px 12px;
                border-radius: 4px;
                color: white;
                width: fit-content;
                
            }

            &__life{
                @include hud;
                display: flex;
                gap: 4px
            }
            &__sequence{
                @include hud;  
            }
        }
    }
}