<main class="c-play">

    <div class="c-random">

        <nav class="c-hud">
            <div class="hud__life">
                Lives: 

                @for(life of lives; track life){
                    <span>♦</span>
                }

            </div>
            <div class="hud__sequence">Sequence: {{ sequence }}</div>
        </nav>

        <app-card-random></app-card-random>
    </div>

    <div class="c-dex">
        <span class="dex__count"><b>Gen I to II</b> - 2 de 151</span>
        <app-card-dex></app-card-dex>
    </div>

</main>