<main class="container">

    <div class="c-items">

        <div class="logo">
        <img src="./assets/logo.svg">
        </div>

       

        <div class="c-items__action">
            <h3>Conheço até:</h3>
            <select class="input-select">
                <option>Selecione</option>
               </select>
        
               <button class="btn--play" routerLink="/play">
                <i>
                    <img src="../../../assets/icons/play.svg">
                </i>
                Partida rápida
                </button>

                <span>ou</span>
        
               <button class="btn--ranked" routerLink="/ranked">
                <i>
                    <img src="../../../assets/icons/trophy.svg">
                </i>
                Rankeada
                </button>
        </div>

    </div>

</main>