.main{
    background-color: #EBEBEB;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &-top{
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

