<div class="main">
  
  <div class="start-screen" *ngIf="randomPokemon == undefined">
    <img src="../assets/poketrivia-logo.svg" alt="">
    <h3>Select range:</h3>
    Up to
    <select #range name="select" (change)="pokemonGeneration = range.value; updateLimit()">
        <option selected value="151">1st generation</option>
        <option value="251" >2nd generation</option>
        <option value="386">3rd generation</option>
    </select>

    <button (click)="start(); started = true">
      <span *ngIf="!started">Start</span>
      <span *ngIf="started">Loading...</span>
    </button>

</div>
  
  <div class="main-top" *ngIf="randomPokemon !== undefined" >
    <app-hud *ngIf="life > 0 && randomPokemon !== undefined" [life]="life" [points]="points"></app-hud>

    <div class="result-screen" *ngIf="life == 0">
      <img src="../assets/poketrivia-logo.svg" alt="">
      <h2>🥇 Score: <span>{{ points }}</span></h2> 
      <button (click)=" refresh()">Restart</button>
      <button 
      [style.backgroundColor]="buttonAction ? '#748c95' : 'dimgray'"
      (click)="shareResults(); buttonAction = true ">
        <span *ngIf="!buttonAction">Share</span>
        <span *ngIf="buttonAction">Copied!</span>
      </button>
    </div>


    <app-poke-card *ngIf="randomPokemon !== undefined && life > 0" [nome]="randomPokemon.name"
      [sprite]="randomPokemon.dex?.sprites.front_default" [tipo1]="randomPokemon.dex?.types[0].type.name"
      [tipo2]="randomPokemon.dex?.types[1] !== undefined ? randomPokemon.dex?.types[1].type.name : '' ">
    </app-poke-card>

  </div>

  <app-card-box *ngIf="randomPokemon !== undefined"></app-card-box>

</div>